* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 30px;
    position: fixed;
    color: green;
}

h3 {
    color: brown;
}

p {
    color: darkkhaki;
}
