
/* Reset for all tag padding and margin */
/* Padding = dalam , Margin = luar */
* {
    padding: 0;
    margin: 0;
}

#header  {
    font-family: 'Roboto' , sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: white;
}
body {
    background-color: brown;

}
.tasks {
    position: absolute;
    display: block;
    border-radius: 25px;
    margin-left: 10px 20px;
    padding: 25px 25px;
    border: 3px;
}

/* button, input {
    
} */

/* button {
    background-color: brown;
    color: azure;
} */